/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#app {
	display: flex;
	width: 100vw;
	height: 100vh;
	background: #F1EEEE;
	overflow: hidden;
}

.menu {
	width: 15%;
	background: white;
	border-left: 6px solid #FFB320;
	border-right: 6px solid #FFB320;
}

ul.menu-ul {
	display: flex;
	width: 100%;
	height: 100%;
	margin-left: 20px;
	position: relative;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
}
li.menu-li {
	font-weight: 900;
	font-size: 0.8rem;
	text-transform: uppercase;
	cursor: pointer;
}
li.menu-li::after {
	content: '';
	border-bottom: 15px solid #ffb320;
	border-left: 15px solid transparent;
	transform: rotate(313deg);
	position: absolute;
	right: 20%;
}
.secondMenu {
	display: block;
	width: 15%;
	height: 100%;
	background: white;
	border-left: 6px solid #FFB320;
	border-right: 6px solid #FFB320;
	position: absolute;
	top: 0;
	z-index: 2;
	animation: openClose 1s ease-in-out;
	/* left: -15%; */
	/* transition: left 1s ease-in-out; */
}
@keyframes openClose {
	0% {
		left: -15%;
	}
	100% {
		left: 0;
	}
}

.close::after {
	content: '';
	position: absolute;
	width: 4px;
	height: 20px;
	background: #ffb320;
	transform: rotate(90deg);
}
.close {
	position: absolute;
	right: 0;
	top: 0;
	width: 4px;
	height: 20px;
	background: #ffb320;
	transform: rotate(45deg);
	cursor: pointer;
	margin: 0.5rem 1rem;
}
.triangle {
	position: absolute;
	border-bottom: 15px solid #ffb320;
	border-left: 15px solid transparent;
}
.triangle:hover {
	border-bottom: 15px solid #f8ca6e;
}
.left {
	top: 0;
	left: 10px;
	transform: rotate(135deg);
	cursor: pointer;
}
.right {
	top: 0;
	right: 10px;
	transform: rotate(313deg);
	cursor: pointer;
}
.choiceTable {
	position: relative;
	text-align: center;
}

.choiceTable > p {
	text-align: center;
}
.choiceTable-image {
	width: 35%;
}
.choiceTable.modelLi::after {
	content: '';
	width: 80%;
	height: 100%;
	border: 2px solid #ffb320;
	margin-left: 10%;
	position: absolute;
	top: 0;
	left: 0;
}
h1.secondMenu-title {
	text-align: center;
	font-size: 1.5rem;
	text-transform: capitalize;
	font-weight: 900;
	margin: 1rem;
}

li {
	font-size: 1.2rem;
	margin: 1rem;
	text-transform: capitalize;
	text-align: center;
}
.input-color {
	text-align: center;
}
.input-color > input {
	width: 50%;
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
}

.model-choice {
	display: flex;
	width: 80%;
	height: 200px;
	overflow: auto;
	background: white;
	box-shadow: 0 0 0 2px #ffb320;
	position: absolute;
	left: 11%;
	top: 100%;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	animation: modelMenu 1s ease-in-out ;
}

@keyframes modelMenu {
	0% {
		height: 0px;
	}
	100% {
		height: 200px;
	}
}
.model {
	width: 40%;
	height: 60px;
	margin: 5px;
	border: 0.5px solid #ffb320;
	cursor: pointer;
}
.model:hover {
	opacity: 0.5;
}

.model > img {
	width: 45%;
}

.menuOrder {
	width: 50px;
	height: 150px;
	position: absolute;
	top: 15px;
	right: 5px;
	display: flex;
	flex-direction: column;
}

.shop, .camera {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.shop:hover, .camera:hover {
	opacity: 0.8;
}
.shop {
	background: #ffb320;
}

.shop > img {
	width: 80%;
}

.camera {
	background: #c9c9c9;
}

.camera > img {
	width: 80%;
}

 .configurator {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
}
/*
div#testPanelCtn {
	display: none;
} */